
*{
    margin: 0;
    box-sizing: border-box;
}
body{
font-family: sans-serif;
padding: 90px 20px 0;
}

.header{
    background-color: blue;
    height: 80px;
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav{
    display: flex;
    justify-content: space-between;

    max-width: 992px; /* para centrar en pantallas grandes */
    margin: auto;
}
.nav-link {
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content; 
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
    transition: 0.5s;
}
.nav-menu-link:hover{
    background: #333;

}

.toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px ;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

@media (max-width: 768px){
    .header{
        height: 60px;
    }
    .logo{
        font-size: 25px;
        line-height: 60px;
        padding: 0 20px;
    }
    .nav-menu{
        display:  flex;
        flex-direction: column;
        margin-right: 20px;
        background-color: #333;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        align-items: center;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu-item{
        line-height: 70px;
        display: block;
       
        width: 100%;
        text-align: center;
        
    }
    .nav-menu-item:hover{
        background: rgb(85, 83, 83);

    }
    .nav-menu-link:hover,
    .nav-menu_active{
        background: none;
        color: rgb(140, 143, 143);
    }

    .toggle {
        display: block;
    }

    .nav-menu_visible{
    left: 0;
    }

}