
/* section About  */
.section_about{
    margin-top: 30px;
    display: flex;
    width: 100%;
    border-radius: 5px;
    background:#fff ;
    box-shadow: 6px 3px 7px rgb(148, 146, 146);
    
}
.about_img{
    max-width: 280px;
   
}
.about_img img{
    width: 100%;
    height: 100%;
}
.about_info{
    margin-left: 20px;
    padding: 10px;
}
.about_info ul {
    list-style-image: url('../img/check-shield-solid-24.png');
}
.about_info ul li{
    margin: 20px 5px;
}
.about_btn{
    margin: 10px 10px;
    display: flex;
}
.about_btn .btn_one,
.about_btn .btn_two{
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    font-weight: 800;
}
.btn_one {
    background: blue;
    color: #fff;
    border: 1px solid blue;
}
.btn_one:hover{
        background: #fff;
        color: black;
}

.btn_two{
    background: rgb(15, 131, 4);
    color: #fff; 
    border: 1px solid rgb(15, 131, 4);
}
.btn_two:hover{
    background: #fff;
    color: black;
}
