.file-input{
    padding: 15px;
    background: #ffffff;
    width: 100%;
    border: 1px solid rgb(187, 183, 183);
}
.file-input::-webkit-file-upload-button{
    display: none;
}


.forms-content{
    border-radius: 5px;
    width: 100%;
    background: #fff;
}


form label{
    margin: 10px 0;
    font-size: 20px;
}

.form-flex{
    margin: 20px 0;
    display: flex;
    justify-content:space-between;
}

.form-flex-one{
    display: flex;
    flex-direction: column;
}

.form-flex-two{
    display: flex;
    flex-direction: column;
}

.select-input{
    padding: 10px;
    width: 100%;
    
}

option{
    padding: 20px;
}
.form-text{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}


.form-text input[type="text"]{
    padding: 10px;
    height: 20px;
    border: none;
    background: #ebe8e8;
    outline: none;
}
input[type="number"]{
    padding: 10px;
    height: 20px;
    border: none;
    background: #ebe8e8;
    outline: none;
}
.form-text textarea{
    padding: 5px;
    height: 100px;
    resize: none;
    font-family: 'Work Sans', sans-serif;
}

.form-btn{
    display: flex;
    justify-content: center;

}
.form-btn button{
    padding: 15px;
    background: blue;
    color:#fff;
    font-size: 17px;
    border: none;
    margin: 0 10px;
    cursor: pointer;
}
button:hover{
    background: rgb(1, 1, 90);
}
