/* estilos para las tablas */
.container_tbl{
    width: 100%;
    max-height: 500px;
    background:rgb(253, 251, 251);
    box-shadow: 5px 5px 3px rgb(199, 199, 199);
    border: 1px solid rgb(163, 162, 162);
    overflow: scroll;
}


.tbl_poster{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgb(240, 237, 237);
}
.btn{
line-height: 70px;
margin: 0 20px;
padding:15px;
background: blue;
color: white;
text-decoration: none;
font-weight: 500;
border-radius: 2px;
font-size: 15px;
font-weight: 700;
}
.btn .bx {
    font-weight: 800;
}


table{
    
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

}

thead{
    border-bottom: 1px solid rgb(240, 235, 235);
    background: blue;
    color: white;
}
thead th, td{
    padding: 20px;
}

thead th:nth-child(3){
    width: 30%;
}


tbody td{
    text-align: center;
}
tbody td .img-post{
    width: 100px;
}
tbody td .action{
    font-size: 30px;
    text-decoration: none;
     color: black;
}
tbody td .action .bxs-edit-alt:hover{
    color:blue ;
}
tbody td .action .bxs-trash-alt:hover{
    color:red ;
}


tbody tr:nth-child(odd){
    background: rgb(233, 230, 230);
}