@import 'base';
@import 'variables';
@import 'nav';

/* section main */

.main{
    margin-left: 270px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100%;
    width: 78%;
   
} 

.breadcum{
    margin-bottom: 20px;
    color: rgb(20, 20, 20);
}
.section_title{
    display: block;
    background: rgb(255, 255, 255);
    width: 100%;
    border-radius: 5px;
    box-shadow: 6px 3px 7px rgb(148, 146, 146);
    margin-bottom: 20px;
}
.title{
    color: rgb(0, 0, 0);
    padding: 20px;
    border-bottom: 1px solid rgb(173, 171, 171);
}
.info{
    color: rgb(255, 85, 6);
    padding: 20px;
}


// estilos para la ventana modal emergente
.modalContainer {
    visibility: hidden;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
	height: 100%;
	padding: 20px;
    overflow: hidden; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContainer .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    max-width: 40%;
    max-height: 600px;
    overflow: auto;
}

.modalContainer .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@import 'about';
@import 'tablets';
@import 'settings';
@import 'forms'

